body{
    overflow: hidden;
    background-color:rgba(85, 73, 248, 0.5);
}

.top{
 
    background-color: yellow;
    top: 0px;
    border-bottom-left-radius: 3vw;
    border-bottom-right-radius: 3vw;
    display:block;
    margin-bottom: 2vw;
    margin-left: 3vw;
    margin-right: 3vw;

}

.containers{
    display: flex;
    height: 500px;
}
.left_container{
    display: flex;
    flex:1;
    background-color: crimson;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 3vw;

    height: 80%;
    width:80%;
}
.right_container{
    display: flex;
    flex:1;
    background-color: blue;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 3vw;

    height: 80%;
    width:80%;
}
.images{
    display: inline-block;
    width: 32%;
    height: 32%;
    padding: 5px;
    border-radius: 3vw;
    border-width:1vw;
}

.left_container >.inner > .innermost_container > .images:hover{
    border:solid;
    border-color: black;
}
.inner{
    display:block;
    padding: 2vw;
}
.innermost_container{
    display: inline-flex;
}

.ComicSans{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    margin-bottom: 5mm;
    
}
