.top{
    background-color: yellow;
    margin: 0px;
    padding: 0px;

}

.containers{
    display: flex;
    height: 500px;
    width:auto;
}
.left_container{
    display: flex;
    flex:1;
    background-color: crimson;
    justify-content: center;
    align-items: center;
}
.right_container{
    display: flex;
    flex:1;

    background-color: blue;
    justify-content: center;
    align-items: center;
}
.images{
    display: inline-block;
    width: 200px;
    height: 200px;
    padding: 5px;
}

.inner{
    display:block;
    padding: 2vw;
}
.innermost_container{
    display: inline-flex;
}

.ComicSans{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
